.HomeMain-conatiner {
    display: flex;
    justify-content: space-between;
    color: $darkgray;
}

.HomeMain-img {
    width: 60%;
    height: 500px;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    transform: translateX(-250px);
}

.HomeMain-links {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 100px auto 30px;
    h1 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }
    svg {
        align-self: center;
        margin: 15px 0;
    }

}

.HmeMain-btns {
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
    button {
        background: none;
        box-shadow: none;
        border: 1px solid $darkgray;
        padding: 15px;
        width: 220px;
        height: 90px;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 25px;
            color: $darkgray;

        }
    }
    button:hover {
        border: 1px solid $orange;
    }
}