.HomeContact-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  
  .HomeContact-container::after {
    content: "";
    background-image: url("../../assets/Background-Contact-Form.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
  }
  
  .HomeContact-form {
    width: 40%;
    justify-self: flex-end;
  }