.HomeThreeColumnsContainer{
    background-color: $orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    color: $darkgray;
    div {
        text-align: center;
        margin: 0 20px;
        width: 15%;
        font-weight: 300;
        h1 {
            font-size: 70px;
            margin-bottom: 15px;
        }
        h2{
            font-size: 17px;
            margin:15px;
        }
        p {
            font-size: 12px;
            line-height: 1.5;
        }
    }
}