.HomeSteps-steps {
    display: flex;
    justify-content: center;
    div {
        padding: 15px;
        margin: 10px 30px;
        align-items: center;
        svg {
            align-self: center;
            margin: 15px 0;
        }
    }

}

.HomeSteps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        text-align: center;
        margin: 15px 0;
    }
    svg {
        align-self: center;
        margin: 15px 0;
    }
    button {
        align-self: center;
        background: none;
        box-shadow: none;
        border: 1px solid $darkgray;
        padding: 15px;
        width: 200px;
        height: 100px;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 100; 
            color: $darkgray;
        }
    }
    button:hover {
        border: 1px solid $orange;
    }  
}