.HomeContact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 900px;
    color: $darkgray;
  }
  
.HomeContact-container::after {
    content: "";
    background-image: url("../../assets/Background-Contact-Form.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}
  
.HomeContact-form {
    right: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: center;
    margin: auto 0;
    font-family: $font-base;
    input {
        box-sizing:border-box;
        border: none;
        border-bottom: 1px solid black;
        background: none;
        box-shadow: none;
    }
    textarea {
        border: none;
        border-bottom: 1px solid black;
        background: none;
        box-shadow: none;
    }
}

.HomeContact-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    h1 {
        text-align: center;
        font-size: 35px;
        margin: 30px 0 10px;
    }
    svg {
        align-self: center;
        margin: 15px 0;
    }
}

.HomeContact-form-inputs {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-weight: 600;
}

.HomeContact-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  } 

.HomeContact-form-textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.HomeContact-footer {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    h1 {
        align-self: center;
        justify-self: flex-end;
        margin-right: 500px;
    }
}